In [1]:
# Import dependencies
import os
import pandas as pd
import numpy as np
from sodapy import Socrata

# Import App Token
from config import SODAPY_APPTOKEN

# Socrata API
API endpoint: https://opendata.ramseycounty.us/resource/edw2-7b5b.json

In [2]:
# Set up variables for api endpoint and dataset identifier
query_url = 'opendata.ramseycounty.us'
data_id = 'edw2-7b5b'

# Authenticate the request
client = Socrata(query_url, SODAPY_APPTOKEN)

# Returns results as JSON from API / converted to Python list of dictionaries by sodapy
results = client.get(data_id, limit=10000)
''' *****NOTE: Need to sort thru how to do pages because this works for now, but the dataset will only continue to grow.
Will undoubtedly become problematic.  Will work for now though.'''


# Convert to pandas DataFrame
housing_df = pd.DataFrame.from_records(results)
pd.set_option('display.max_columns', None)
housing_df.head()

,censusgeoid,censustractname,censusblockgroupname,censusblockname,shape_length,shape_area,ctdt_unitscount,ctdt_unitchangecount,ctdt_owneroccupiedcount,ctdt_owneroccupiedpercent,ctdt_homesteadcount,ctdt_homesteadpercent,ctdt_agemax,ctdt_agemin,ctdt_assessvaluemax,ctdt_assessvaluemin,ctdt_effectiveagemax,ctdt_effectiveagemin,single_unitscount,single_unitstotalpercent,single_unitchangecount,single_owneroccupiedcount,single_owneroccupiedpercent,single_homesteadcount,single_homesteadpercent,single_agemax,single_agemedian,single_agemin,single_assessvaluemax,single_assessvaluemedian,single_assessvaluemin,single_effectiveagemax,single_effectiveagemedian,single_effectiveagemin,total_unitscount,total_unitchangecount,total_owneroccupiedcount,total_owneroccupiedpercent,total_homesteadcount,total_homesteadpercent,total_agemax,total_agemedian,total_agemin,total_assessvaluemax,total_assessvaluemedian,total_assessvaluemin,total_effectiveagemax,total_effectiveagemedian,total_effectiveagemin,single_density,single_salescount,single_salesmax,single_salesmin,total_salescount,total_salesmax,total_salesmedian,total_salesmin,ctdt_agemedian,ctdt_assessvaluemedian,ctdt_effectiveagemedian,single_salesmedian,apart_unitscount,apart_unitchangecount,apart_agemax,apart_agemedian,apart_agemin,apart_assessvaluemax,apart_assessvaluemedian,apart_assessvaluemin,apart_effectiveagemax,apart_effectiveagemedian,apart_effectiveagemin,apart_owneroccupiedcount,apart_owneroccupiedpercent,apart_homesteadcount,apart_homesteadpercent,apart_salescount,apart_salesmax,apart_salesmedian,apart_salesmin,ctdt_salescount,ctdt_salesmax,ctdt_salesmedian,ctdt_salesmin,manuf_unitscount,manuf_unitchangecount,manuf_owneroccupiedcount,manuf_owneroccupiedpercent,manuf_agemax,manuf_agemedian,manuf_agemin,manuf_salescount,manuf_salesmax,manuf_salesmedian,manuf_salesmin
0,271230422022007,Census Tract 422.02,Block Group 2,Block 2007,2529.390992396150100,83982.289677475143000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,271230411051011,Census Tract 411.05,Block Group 1,Block 1011,5244.564887974026500,237255.643114514770000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,271230319002008,Census Tract 319,Block Group 2,Block 2008,2778.667983034514700,62312.267321123742000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,271230421011038,Census Tract 421.01,Block Group 1,Block 1038,9925.675336563326700,684860.198249658800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,271230344001033,Census Tract 344,Block Group 1,Block 1033,2118.810754343488500,209989.888295263050000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Exploratory Analysis

In [10]:
total_rows = len(housing_df)
tracts = len(housing_df['censustractname'].unique())
print(f"There are a total of {total_rows} rows in the dataset.")
print(f"There are a total of {tracts} unique Census Tracts in this dataset.")

There are a total of 8551 rows in the dataset.
There are a total of 137 unique Census Tracts in this dataset.

In [9]:
tracts = len(housing_df['censustractname'].unique())

137

In [ ]:
parcel_points_url = "https://opendata.arcgis.com/datasets/e1d26ac7a8944f1f8059f5659f656fe1_11.geojson"

In [ ]:
pp_response = requests.get(parcel_points_url).json()
pp_response

In [ ]:
sp_map = "https://stpmaps.stpaul.gov/public/rest/services/Zoning/Zoning/MapServer"

In [ ]:
att_response = requests.get(att_url).json()
att_response